.jumbotron {
    background-color: #272727;
	color: #fff;
	padding: 100px 25px;
}

.bg-blue {
	background-color: #26519E;
}

.bg-1 {
	background-color: #fff;
}

.bg-2 {
	background-color: #f2f2f2;
}

.container-fluid {
	padding: 60px 50px;
}

.white-text {
	color: #fff;
}

.navbar {
    margin-bottom: 0;
    background-color: #26519E;
    letter-spacing: 4px;
    border-radius: 0;
	border: none;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: black !important;
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}

.subj_btn {
	cursor: pointer;
	display: inline-block;
	width: 250px;
	height: 150px;
	font-size: 24px;
	padding-top: 55px;
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 5px;
	background: #2B3439;
	margin-bottom: 20px;
}

.subj_btn:hover {
	text-decoration: none;
	color: white;
}

.subj_btn:visited {
	color: white;
}

.inline-centered {
	margin: 0 auto;
}
